body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.title {
    font-size: 32px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
}

.filter-section {
    margin-bottom: 20px;
}

#price-filter {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.watch-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #111;
    color: white;
}
 
header .logo img {
    width: 150px;
}
 
header nav ul {
    list-style: none;
    display: flex;
}
 
header nav ul li {
    margin-left: 20px;
}
 
header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
 
header .search input {
    padding: 8px;
    margin-top: 5px;
}

.watch-card {
    background: rgba(3, 6, 5, 0.951);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.watch-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

.watch-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #00754a;
}
