* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
}
 
/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #111;
    color: white;
}
 
header .logo img {
    width: 150px;
}
 
header nav ul {
    list-style: none;
    display: flex;
}
 
header nav ul li {
    margin-left: 20px;
}
 
header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
 
header .search p{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    margin-top: 5px;
}
 
/* Hero Section Styling */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.897);
}
 
.hero h1 {
    font-size: 3em;
}
 
.hero p {
    font-size: 1.5em;
    margin: 20px 0;
}
 
.cta-button {
    background-color: #28a745; /* Rolex green */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}
 
.cta-button:hover {
    background-color: #218838;
}
 
/* Featured Collections */
.featured-collections {
    padding: 40px 0;
    text-align: center;
}
 
.featured-collections h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
 
.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
 
.collection-item img {
    width: 100%;
    height:auto;
    border-radius: 10px;
    object-fit: cover;
}
 
.collection-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
}
 
/* Craftsmanship Section */
.craftsmanship {
    background-color: #111;
    color: white;
    padding: 40px 0;
    text-align: center;
}
 
.craftsmanship h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
 
/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
 
footer nav ul {
    list-style: none;
}
 
footer nav ul li {
    display: inline;
    margin: 0 10px;
}
 
footer nav ul li a {
    color: white;
    text-decoration: none;
}
 